/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  border: 10px solid rgb(180, 159, 159);
}

.inner-box {
  background-color: red;
}

.White-text {
  color: white;
}
